body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: #242424;
}

/* Nav*/
.material-icons {
    font-size: 1.8rem;
    color: gray;     /* Set color to white */
    cursor: pointer;
    user-select: none;
}


.nav-element-left > i {
    margin-left: 1rem;
}

.nav-element-right > i {
    margin-right: 1rem;
}

.navbar {
    padding: 0 1rem;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
}


/* Main Content */

.main-container {
    display: flex;
    height: calc(100vh - 10vh);
}

.calendar {
    margin: 0 1rem 1rem 1rem;
    width: 75%;
    border-radius: 1rem;

    /* Colors */
    background-color:#171717;

    box-shadow: -0.05rem 0.05rem white;
}

.tasks-section {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 1rem 0;
}

.task {
    height: 2rem;
    min-height: 2rem;
    background-color: blue;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}