body {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
@media (max-width: 425px) {
  body {
    overflow-y: scroll;
  }
}

/* Nav */
.navbar i {
  font-size: 1.8rem;
  color: gray;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.navbar i:hover {
  animation: jump 0.2s ease-in-out 1 forwards;
}

@keyframes jump {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -0.5rem);
  }
  100% {
    transform: translate(0);
  }
}
.navbar {
  padding: 0 1rem;
  display: flex;
  height: 10vh;
  align-items: center;
  justify-content: space-between;
}
.navbar .nav-element-left > i {
  margin-left: 1rem;
}
.navbar .nav-element-right > i {
  margin-right: 1rem;
}

/* Main Content */
.main-container {
  display: flex;
  height: 90vh;
}
@media (max-width: 425px) {
  .main-container {
    flex-direction: column;
    background-color: red;
  }
}
.main-container #calendar {
  margin: 0 1rem 1rem 1rem;
  padding: 1rem;
  width: 75%;
  border-radius: 1rem;
  box-shadow: -0.2rem 0.2rem rgba(255, 255, 255, 0.2);
}
@media (max-width: 425px) {
  .main-container #calendar {
    padding: 1rem;
    margin: 0;
    width: 100%;
    border-radius: 0;
    height: 50vh;
  }
}
.main-container .tasks-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0 1rem 1rem 0;
}
@media (max-width: 425px) {
  .main-container .tasks-section {
    display: flex;
    width: 100%;
  }
}
.main-container .tasks-section .task-input-field {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 768px) {
  .main-container .tasks-section .task-input-field {
    flex-wrap: wrap;
  }
}
.main-container .tasks-section .task-input-field .input-submit {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 425px) {
  .main-container .tasks-section .task-input-field .input-submit {
    flex-wrap: nowrap;
  }
}
.main-container .tasks-section .task-input-field .input-submit #task-input {
  padding: 1rem;
  width: 3vw;
  flex-grow: 1;
  border: none;
  border-radius: 1rem 0 0 1rem;
  outline: none;
  color: white;
}
@media (max-width: 768px) {
  .main-container .tasks-section .task-input-field .input-submit #task-input {
    border-radius: 1rem 1rem 0 0;
  }
}
@media (max-width: 425px) {
  .main-container .tasks-section .task-input-field .input-submit #task-input {
    border-radius: 0;
    width: 75%;
  }
}
.main-container .tasks-section .task-input-field .input-submit #submit-task {
  color: white;
  background-color: #1982C4;
  width: 30%;
  border: none;
  border-radius: 0 1rem 1rem 0;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.main-container .tasks-section .task-input-field .input-submit #submit-task:hover {
  background-color: #4DA167;
}
@media (max-width: 768px) {
  .main-container .tasks-section .task-input-field .input-submit #submit-task {
    border-radius: 0 0 1rem 1rem;
    width: 100%;
    padding: 0.5rem;
  }
}
@media (max-width: 425px) {
  .main-container .tasks-section .task-input-field .input-submit #submit-task {
    width: 25%;
    border-radius: 0;
  }
}
.main-container .tasks-section .task-input-field #date-input {
  flex-grow: 1;
  margin-top: 0.7rem;
  border: none;
  color: gray;
  border-radius: 2rem;
}
.main-container .tasks-section .task-input-field #date-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
@media (max-width: 425px) {
  .main-container .tasks-section .task-input-field #date-input {
    width: 100%;
    margin: 0;
    border-radius: 0;
    height: 1rem;
  }
}
.main-container .tasks-section .task-list {
  margin: 1rem 0;
  min-height: 20rem;
  height: 50%;
  display: flex;
  padding: 0;
  flex-direction: column;
  overflow: auto;
  padding-right: 0.5rem;
}
.main-container .tasks-section .task-list .task {
  color: white;
  min-height: 3rem;
  height: 3rem;
  background-color: #1982C4;
  border-radius: 2rem;
  margin-bottom: 1rem;
  padding: 0rem 0.8rem 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-container .tasks-section .task-list .task .task-text {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  flex-grow: 1;
  white-space: nowrap;
}
.main-container .tasks-section .task-list .task i {
  transition: background-color 0.3s ease;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
.main-container .tasks-section .task-list .task i:hover {
  background-color: red;
}
.main-container .tasks-section .task-list::-webkit-scrollbar {
  width: 0.5rem;
  background-color: #242424;
}
.main-container .tasks-section .task-list::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 1rem;
}
.main-container .tasks-section .study-timer {
  max-height: 20rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.main-container .tasks-section .study-timer .timer {
  display: flex;
  font-size: 8rem;
  font-weight: bold;
  color: gray;
  justify-content: space-around;
  align-items: center;
  height: 60%;
}
.main-container .tasks-section .study-timer .timer span {
  font-size: 7vw;
}
.main-container .tasks-section .study-timer .controls {
  display: flex;
  flex-grow: 1;
}
.main-container .tasks-section .study-timer .controls button {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}
@keyframes shrink {
  0% {
    font-size: 4vw;
  }
  50% {
    font-size: 3vw;
  }
  100% {
    font-size: 4vw;
  }
}
@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.main-container .tasks-section .study-timer .controls i {
  color: gray;
  font-size: 4vw;
}
.main-container .tasks-section .study-timer .controls i:hover {
  cursor: pointer;
  color: #1982C4;
}
.main-container .tasks-section .study-timer .controls i:active {
  animation: shrink 0.1s ease-in-out;
}/*# sourceMappingURL=main.css.map */