$primary-color: #242424;
$secondary-color: #171717;
$third-color: #1982C4;
$confirm-hover-color: #4DA167;
$icon-colors: gray;

$tablet: 768px;

$main-font: 'Roboto', sans;

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: $primary-color;
}

/* Nav */

.navbar i {
    font-size: 1.8rem;
    color: $icon-colors;
    cursor: pointer;
    user-select: none;

    &:hover {
        animation: jump 0.2s ease-in-out 1 forwards;
    }
}

@keyframes jump {
    0% { transform: translate(0); }
    50% { transform: translate(0, -0.5rem); }
    100% { transform: translate(0); }
}

.navbar {
    padding: 0 1rem;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;

    .nav-element-left > i {
        margin-left: 1rem;
    }

    .nav-element-right > i {
        margin-right: 1rem;
    }
}

/* Main Content */
.main-container {
    display: flex;
    height: calc(100vh - 10vh);

    .calendar {
        margin: 0 1rem 1rem 1rem;
        width: 75%;
        border-radius: 1rem;
        background-color: $secondary-color;
        box-shadow: -0.2rem 0.2rem rgba(255, 255, 255, 0.2);
    }
    .tasks-section {
        width: 25%;
        display: flex;
        flex-direction: column;
        margin: 0 1rem 1rem 0;

        .task-input-field {
            width: auto;
            display: flex;
            justify-content: space-between;

            

            @media (max-width: $tablet) {
                flex-wrap: wrap;
            }

            #task-input {
                background-color: $secondary-color;
                padding: 1rem;
                flex-grow: 1;
                width: 100%;
                border: none;
                border-radius: 1rem 0 0 1rem;
                outline: none;
                color: white;
                
                @media (max-width: $tablet) {
                    border-radius: 1rem 1rem 0 0;
                }
            }

            #submit-task {
                color: white;
                background-color: $third-color;
                width: 30%;
                border: none; 
                border-radius: 0 1rem 1rem 0;
                transition: background-color 0.3s ease;
                cursor: pointer;

                &:hover {
                    background-color: $confirm-hover-color;
                }

                @media (max-width: $tablet) {
                    border-radius: 0 0 1rem 1rem;
                    width: 100%;
                    padding: 0.5rem;
                }
            }
        }

        .task-list {
            margin: 1rem 0;
            min-height: 20rem;
            height: 50%;
            display: flex;
            padding: 0;
            flex-direction: column;
            overflow: auto;
            padding-right: 0.5rem;

            .task {
            color: white;
            min-height: 3rem;
            height: 3rem;
            background-color: $third-color;
            border-radius: 2rem;
            margin-bottom: 1rem;
            padding: 0rem 0.8rem 0 1.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

                .task-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-right: 1rem;
                    flex-grow: 1;
                    white-space: nowrap;
                }

                i {
                    transition: background-color 0.3s ease; 
                    border-radius: 50%;
                    color: white;
                    cursor: pointer; 
                    &:hover {
                        background-color: red;
                    }
                }
            }

            &::-webkit-scrollbar {
                width: 0.5rem;
                background-color: #242424;
                
            }

            &::-webkit-scrollbar-thumb {
                background-color: $icon-colors;
                border-radius: 1rem;
            }
        }

        .study-timer {
            
            max-height: 20rem;

            display: flex;
            flex-grow: 1;
            flex-direction: column;
            

            .timer {
                display: flex;
                font-size: 8rem;
                font-weight: bold;
                color: $icon-colors;
                justify-content: space-around;
                align-items: center;
                height: 60%;

                span {
                    font-size: 7vw;
                    background-color: blue;
                }
            }

            .controls {
                display: flex;
                flex-grow: 1;
                button {
                    width: 33.3%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: none;
                    border: none;
                }

                i {
                    transition: background-color 0.3s ease;
                    color: $icon-colors;
                    font-size: 4vw;

                    &:hover {
                        color: $third-color
                    }

                    &:active {
                        color: red;
                    }
                }
            }
        }
    }
}





