{% extends 'base.html' %}
{% block head %}
<title>Sora</title>
{% endblock %}

{% block body %}
<div class="navbar">
    <div class="nav-element-left">
        <i class="material-icons">timer</i>
    </div>
    <div class="nav-element-right">
        <i class="material-icons">menu</i>
        <i class="material-icons">account_circle</i>
    </div>
</div>
<!-- Main -->
<div class="main-container"> 
    <div class="calendar">

    </div>
    <div class="tasks-section">
        <form class="task-input-field" method="POST">
            <input type="text" id="task-input" name="task-input" placeholder="Add task here..">
            <button type="submit" id="submit-task">ADD</button>
        </form>
        <ul class="task-list" val>
            {% for task in tasks %}
            <li class="task">{{task.content}}</li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- Edit Task -->
<div class="task-editor">
    <h2>Edit Task</h2>
    <form>
        <input type="text" id="updated-text" name="updated-text">
        <button>Delete</button>
    </form>
</div>

{% endblock %}