<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    

    <title>Sora</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-element-left">
            <i class="material-icons">timer</i>
        </div>
        <div class="nav-element-right">
            <i class="material-icons">menu</i>
            <i class="material-icons">account_circle</i>
        </div>
    </div>
    <div class="main-container"> 
        <div class="calendar">

        </div>
        <div class="tasks-section">
            <div class="task">

            </div>
            <div class="task">

            </div>
        </div>
    </div>
</body>
</html>