{% extends 'base.html' %}
{% block head %}
<title>Sora</title>
{% endblock %}

{% block body %}
<div class="navbar">
    <div class="nav-element-left">
        <i class="material-icons">timer</i>
    </div>
    <div class="nav-element-right">
        <i class="material-icons">menu</i>
        <i class="material-icons">account_circle</i>
    </div>
</div>
<!-- Main -->
<div class="main-container"> 
    <div class="calendar">

    </div>
    <div class="tasks-section">
        <form class="task-input-field" method="POST">
            <input type="text" id="task-input" name="task-input" placeholder="Add task here.." required>
            <button type="submit" id="submit-task"><i class="material-icons">add</i></button>
        </form>
        <div class="task-list" val>
            {% for task in tasks %}
            <div class="task">
                <div class="task-text">{{task.content}}</div>
                
                <a href="/delete/{{task.id}}">
                    <i class="material-icons">close</i>
                </a>

            </div>
            {% endfor %}
        </div>
        <div class="study-timer">
            <div class="timer"><span id="time">00:00</span></div>
            <div class="controls">
                <button><i class="material-icons">history</i></button>
                <button id="start"><i class="material-icons">timer</i></button>
                <button id="stop"><i class="material-icons">stop</i></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}